* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    background: url('/img/bg1.jpeg') no-repeat;
}

h1 {
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 25px;
}

p {
    font-weight: 200;
    letter-spacing: 3px;
    margin-left: 15px;
  
}

a {
    text-decoration: none;
    color: black;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px black solid;
    padding: 50px 20px;
    box-shadow: 0 0 10px black;
}


.input-container {
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        'label-pollution-level add-btn'
        'input add-btn'
        'number-introduced number-introduced'
        'show-numbers-introduced show-numbers-introduced'
        'calculate-btn calculate-btn'
        'reset-btn reset-btn'
    ;
}

.labal-pollution-level {
    grid-area: label-pollution-level;
    font-size: 18px;
}

#input {
    grid-area: input;
    padding: 2px 5px;
}

.add-btn {
    grid-area: add-btn;
    background-color: white;
}

.add-btn:hover {
    color: white;
    background-color: black;
}

.add-btn:active {
    transform: scale(0.95);
}

.number-introduced {
    grid-area: number-introduced;
    font-weight: 400;
   
}

.show-numbers-introduced {
    grid-area: show-numbers-introduced;
    max-width: 280px;
    overflow-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 50px;
    /* letter-spacing: 10px; */
    font-size: 20px;
    font-weight: 400;
}

.calculate-btn {
    grid-area: calculate-btn;
}

.reset-btn {
    grid-area: reset-btn;
}

.calculate-btn,
.reset-btn {
    text-align: center;
    border: 2px black solid;
    transition: all 0.1s linear;
    text-transform: uppercase;
    background-color: white;
}

.calculate-btn:hover,
.reset-btn:hover {
    color: white;
    background-color: black;
}

.calculate-btn:active,
.reset-btn:active {
    transform: scale(0.95);
}


.add-btn {
    margin-left: 20px;
    padding: 2px 10px;
    border: 2px black solid;
    align-self: flex-end;
}

.number-introduced {
    letter-spacing: 2px;
    font-size: 30px;
}

.result {
    display: none;
    padding: 20px 40px;

    border: 2px black solid;
    box-shadow: 0 0 10px black;
    background: rgba(7, 7, 7, 0.2);
}

.firstArray,
.sortedArray,
.pollutionLevel,
.newlyFactoryPopulationP,
.pollutionTarget,
.currentPollutionLevelP,
.number-of-filters-used {
    font-weight: 400;
}